* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
}

header {
    background-color: tan;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

