* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px;
}
.container {
    margin: 0;
    padding: 0;
}
/******************************************************************************/
/* Header */
.col-md-6.col-xs-12.d-flex, .col-2,
.col-1, .col-10 {
    padding: 0 !important;
    align-items: center;
}
.col-1 {
    text-align: right;
}
header {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
}
.logo {
    width: auto;
    max-height: 50px;
}
.form-container {
    height: 100%;
}
#rechercheInput {
    margin: 0; 
    padding: 0;
}
#ok_recherche {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 0;
}
/******************************************************************************/

nav ul {
    list-style-type: none;
    background-color: #0E5F96; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
nav ul li {
    border: 2px solid black;
    display: inline-block;
    position: relative;
    flex: 1;
}
nav ul li a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.2em;
}
nav ul li ul.dropdown li {
    display: block;
}
nav ul li ul.dropdown {
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
    background-color: lightcyan;
    position: absolute;
    /*z-index: 999;*/
    display: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul li:hover ul.dropdown {
    display: block;
}
.breadcrumb-nav {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.breadcrumb-nav a {
    text-decoration: none;
    color: blue;
}
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
main {
    grid-column: 1 / 4;
    background-color: #f5f5f5;
    border-radius: 4px;
}
main h1 {
    background-color: #0E5F96;
    color: white;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-content li {
    list-style-type: none;
}
.main-content div {
    display: flex;
    flex-direction: column;
}
.main-content div a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.astuces {
    grid-column: 4 / 5;
    grid-row: 1;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}
.astuces h3 {
    background-color: #0E5F96;
    color: white;
}
.astuces li {
    list-style-type: none;
}
.astuces .more, .actualites .more {
    text-align: end;
}
.actualites {
    grid-column: 4 / 5;
    grid-row: 2;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}
.actualites h3 {
    color: white;
    background-color: #a94442;
}
.actualites li {
    list-style-type: none;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}
footer .footer-content {
    background-color:cornflowerblue;
    display: flex;
}
.footer-content > ul {
    display: flex;
    list-style: none;
}
.footer-content > ul > li {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}
.footer-content > ul > li > p {
    margin: 0 0 5px 0; 
}

.footer-content > ul > li > ul {
    list-style-type: disc; 
    margin: 0;
    padding-left: 20px; 
}

.footer-content > ul > li > ul > li {
    margin: 5px 0;
}
.footer-right {
    text-align: center;
}

/* Media query pour petits écrans */
@media (max-width: 768px) {
    /*header*/
    header {
        height: auto;
    }
    #rechercheInput {
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }
    .col-10.col-md-2.d-flex.justify-content-start.mt-2.mt-md-0, .col-2.col-md-1.d-flex.justify-content-center.justify-content-md-start.mt-2.mt-md-0 {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    /*end*/
    nav ul {
        flex-direction: column;
    }
    nav ul li ul.dropdown {
        position: static;
    }
    .breadcrumb-nav {
        justify-content: center;
    }
    section {
        grid-template-columns: 1fr;
    }
    main {
        grid-column: 1 / -1;
    }
    .astuces, .actualites {
        grid-column: 1 / -1;
    }
    .main-content {
        grid-template-columns: 1fr;
        align-items: center; 
    }
    .main-content div a {
        justify-content: center;
    }
    .main-content ul li{
        text-align:center;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-content ul {
        flex-direction: column;
    }
}