* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px;
}
.container {
    margin: 0;
    padding: 0;
}
/* Header */
.col-md-6.col-xs-12.d-flex, .col-2,
.col-10.col-md-2d-flex.justify-content-start.mt-2.mt-md-0
.col-1, .col-10 {
    padding: 0 !important;
    margin: 0 !important;
    align-items: center;
}
.col-1 {
    text-align: right;
}
header {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
}
.logo {
    width: auto;
    max-height: 50px;
}
.form-container {
    height: 100%;
}
#rechercheInput {
    margin: 0; 
    padding: 0;
}
#ok_recherche {
    margin: 0;
    padding: 0 5px 0 5px;
    margin-left: auto;
    margin-right: 0;
}
/*nav bar*/
nav #nav-1 {
    border: 1px solid lightsteelblue;
    border-left: 1px solid transparent;
}
nav #nav-2, #nav-3 {
    border: 1px solid lightsteelblue;
    border-left: 1px solid transparent;
}
nav #nav-4 {
    border: 1px solid lightsteelblue;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: linear-gradient(0.5turn, #e3e3e3, white, #e3e3e3);
    border-bottom: 2px solid #0E5F96;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav ul li {
    display: inline-block;
    position: relative;
    flex: 1;
}
nav ul li a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    color: #0E5F96;
    text-align: center;
    font-size: 1.2em;
}
nav ul li a:hover {
    color: #428bca;
}
nav ul li ul.dropdown li {
    display: block;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    background-color: #e3e3e3;
}
nav ul li ul.dropdown {
    border-top: 2px solid #0E5F96;
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
}
nav ul li ul.dropdown {
    margin: 0;
    padding: 0;
}

nav ul li a:hover {
    text-decoration: underline;
}
nav ul li:hover ul.dropdown {
    display: block;
}
.breadcrumb-nav {
    list-style-type: none;
    display: flex;
    padding: 0;
}
/*fil d'ariane*/
.breadcrumb-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
.breadcrumb-nav a, .breadcrumb-nav li {
    text-decoration: none;
    color: #0E5F96;
}
/*section/main*/
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    margin-bottom: 10px;
}
h1, h3 {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px 8px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-left: 35px;
}
main {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 4px 2px -2px lightgray;
    height: 125%;
}
main h1 {
    background-color: #0E5F96;
}
h1 + div {
    color: #0E5F96;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 10px;
}
.main-content li {
    list-style-type: none;

    padding-top: 30px;
}
.main-content img {
    margin-left: 1rem;
}
.main-content div {
    display: flex;
    flex-direction: column;
}
.main-content div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}
main ul {
    padding-left: 1rem;
}
.empty-cell {
    grid-column: 1 / 4;
    grid-row: 2;
    background: transparent;
    height: 50px;
}
/*Sections*/
aside ul {
    padding-left: 1rem;
    list-style-type: none;
}
.astuces {
    grid-column: 4/5;
    grid-row: 1;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 4px 2px -2px lightgray;
}
.astuces h3 {
    background-color: #0E5F96;
    color: white;
}
.astuces li {
    padding-top: 20px;
}
.astuces li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.astuces .more a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    bottom: -91px;
    left: -1px;
}
.astuces .more, .actualites .more {
    text-align: end;
    text-decoration: none;
    color: black;
}
.actualites {
    grid-column: 4/5;
    grid-row: 2;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 4px 2px -2px lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.actualites h3 {
    color: white;
    background-color: #a94442;
}
.actualites li {
    list-style-type: none;
}
.actualites ul span {
    color:#a94442;
}
.actualites li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.actualites .more a{
    text-decoration: none;
    font-weight: bold;
    color: #a94442;
}
/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    border-radius: 0 0px 8px 8px;
}
footer img {
    padding-left: -10px;
    margin-left: -10px;
}
footer .footer-content {
    background-color:#428bca;
    display: flex;
}
.footer-content > ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
}
.footer-content > ul > li {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}
.footer-content > ul > li > p {
    margin: 0 0 5px 0;
    color: white;
    font-weight: bold;

}
.footer-content span {
    color: white;
    text-decoration: none;
}
footer .footer-content li::marker {
    color: deepskyblue;/* Définit la couleur des puces en bleu */
}
.footer-content > ul > li > ul {
    list-style-type: disc; 
    margin: 0;
    padding-left: 30px; 
}
.footer-content > ul > li > ul > li {
    margin: 5px 0;
}
.footer-right {
    text-align: center;
    color: white;
    padding: 10px 0 10px 0;
}
.footer-right a {
    color: white;
    text-decoration: none;
}
/* Media query pour petits écrans *************************/
@media (max-width: 768px) {
    /*header*/
    header {
        height: auto;
    }
    #rechercheInput {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .col-10.col-md-2.d-flex.justify-content-start.mt-2.mt-md-0, .col-2.col-md-1.d-flex.justify-content-center.justify-content-md-start.mt-2.mt-md-0 {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    /*end*/
    nav ul {
        flex-direction: column;
    }
    nav ul li ul.dropdown {
        position: static;
    }
    .breadcrumb-nav {
        justify-content: center;
    }
    section {
        grid-template-columns: 1fr;
    }
    main {
        grid-column: 1 / -1;
        display: inline-block; /* Ajuste la taille verticale selon le contenu */
        vertical-align: top;
        height: fit-content !important;
        margin-bottom: 20px;
    }
    .empty-cell {
        grid-column: 1 / 1;
        display: inline-block; /* Ajuste la taille verticale selon le contenu */
        vertical-align: top;
        height: fit-content !important;
    }
    .astuces, .actualites {
        grid-column: 1 / -1;
    }
    .main-content {
        grid-template-columns: 1fr;
        align-items: center; 
    }
    .main-content div a {
        justify-content: center;
    }
    .main-content ul li{
        text-align:center;
    }
    .astuces .actualites{
        margin-top: 20px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-content ul {
        flex-direction: column;
    }
}